$brand-primary: #6CBAD8;
$navbar-default-color: #F6F6F6;
$navbar-default-link-color: $navbar-default-color;
$navbar-default-link-hover-color: lighten($navbar-default-link-color, 10%);
$navbar-default-bg: #6CBAD8;
$navbar-default-brand-color: lighten($navbar-default-link-color, 10%);
$navbar-default-brand-hover-color: $navbar-default-brand-color;
$link-color: #4994CA;
$footer-height: 100px;

@import "bootstrap-sprockets";
@import "bootstrap";

html {
  height: 100%;
}

body {
  background-color: #F7F7F7;
  height: 100%;
}

.feeds {
  position: fixed;
}

.article {
  border-color: #dddddd;
  border-width: 1px;
  border-radius: 4px;
  border-style: solid;
  margin-bottom: 30px;
  padding: 15px 25px;

  .article-title {
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 10px;
  }

  .article-timestamp {
    color: #555555;
    margin-top: 30px;
  }
}
